<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Отключаем детальные логи Hibernate -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF"/>

    <!-- Дополнительно отключаем логи пула соединений -->
    <logger name="org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl" level="WARN"/>
    <logger name="org.hibernate.orm" level="WARN"/>
    <logger name="org.hibernate.engine" level="ERROR"/>
    <logger name="org.hibernate.cache" level="ERROR"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
